* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  
}

body {
  display: flex;
  min-height: 100vh;
  background-color: #e0e0e0;
}

h1 {
    position: relative;  /* allow z-index to apply */
    z-index: 1;           /* higher than sidebar */
    margin-left: -5px;
    margin-top: -15px; 
    padding-bottom: 25px;
  }

.main {
  flex: 1;
  margin-left: 220px;
  margin-top: 70px;
  padding: 20px;
}

.header {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.card {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  flex: 1;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.charts{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 80% !important;
  height: auto !important;
  max-width: 600px;  /*or any limit */
}
.pie{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: auto !important;
  height: auto !important;
  max-width: 600px;  /*or any limit */
}

.smooth-btn {
  background-color: white;
  color: black;
  border: 1px solid black; /* Changed this line */
  padding: 10px 18px;
  margin: 5px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}


.smooth-btn:hover {
  background-color: gray;
  transform: scale(1.05);
} 

.smooth-btn:active {
  transform: scale(0.98);
}