            .sidebar {
        height: 100vh;
        width: 220px;
        background-color: #05008B;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        align-items: center;
        position: fixed;
        }

        .sidebar h2 {
        font-size: 20px;
        margin-bottom: 10px;
        }

        .sidebar img {
        width: 80px;
        margin-bottom: 10px;
        }

        .nav-link {
        padding: 10px;
        color: white;
        text-decoration: none;
        margin: 5px 0;
        border-radius: 5px;
        }

        .nav-link:hover, .active {
        background-color: #114084;
        }

        .top-rectangle {
        margin-right: 0%; 
        position: fixed;
        width: 100vw;
        height: 71px;
        background-color: white;
        border-bottom: 1px solid gray;
        }

        footer {
        position: absolute;
        bottom: 10px;
        color: white;
        text-align: center;
        }
    
    body {
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background: url('../pics/brgybg.jpg') no-repeat center center fixed;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    #logo {
      margin-bottom:-20px;
    }

    .login-container {
      background: rgba(255, 255, 255, 0.9);
      padding: 40px;
      border-radius: 25px;
      text-align: center;
      width: 400px;
      box-shadow: 0 8px 24px rgba(0,0,0,0.25);
    }

    .login-container img.logo {
      width: 100px;
    }

    .login-container h1 {
      margin-bottom:-25px;
      font-size: 28px;
      color: #003366; 
    }

    .login-container h5 span {
      color: red;
    }
    .login-container h5{
      margin-bottom:-15px;
    }
    .google-btn {
      display: flex;
      align-items: center;
      justify-content: center; 
      gap: 10px;
      margin: 20px auto;
      padding: 12px 24px;
      background: white;
      border: 1px solid #ccc;
      border-radius: 30px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      text-decoration: none;
      color: black;
      width: fit-content;
      transition: all 0.3s ease;
    }

    .google-btn:hover {
      background: #f5f5f5;
    }

    .google-btn img {
      width: 20px;
    }

    .auth-note {
      font-size: 14px;
      margin-top: 15px;
      color: #333;
    }

    .auth-note i {
      margin-right: 5px;
    }

    .title {
      font-size: 12px;
      margin-top: 20px;
      margin-bottom: -50px;
      color: gray;
    }